$primary: #26547c;
$primary-light: #51adcf;
$secondary: #ffd166;
$danger: #ef476f;
$success: #06d6a0;
$light: #fffcf9;
$white: #fff;
$black: #333;
$bg: #f5f5f5;
$border-color: #ddd;

$border: 1px solid $border-color;
